# Flutter/Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
build/
pubspec.lock

# IDE
.idea/
.vscode/
*.iml

# Firebase/local secrets
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
macos/Runner/GoogleService-Info.plist

# OS
.DS_Store
Thumbs.db
